#windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# My configurations:
db.ini
deploy_key_rsa
.idea
.svn
.vscode
/test
/data/runtime/
/data/upload/
/data/test/
/blog/**/*

test.zip

/mlg-demo
/demo
.sass-cache

/we7/data/logs
access_token.json
jsapi_ticket.json
data/db
/data/lang
admin_menu.php
/node_modules